h1, h2 {
  font-family: lobster;
  color: #000000;
}

.page {
  height: 100%;
  margin-top: 2%;
}

.main {
  background: #CFE0F7;
  height: 100%;
}

.jumbotron {
  margin-top: 5%;
  width: 50%;
  background: #000000;
  border-radius: 50px;
}

.title {
  color: red;
  font-family: lobster;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:20px 0px 20px 0px;
  border: #2980b9 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color: black;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin-bottom: 2%;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
  margin-bottom: 10%;
  color: black;
}

.mainOptions{
  border-radius:10px;
  background: white;
  border: black 2px solid;
  padding: 7%;
  margin-top: 7%;
}

.intro{
	margin-top: 5%;
	font-size:3em;
}

.code{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:350px;
  color: black;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin-bottom: 2%;
  text-align: center;
  font-size: 50px;
}

