<html lang="es">
<head th:insert="base/head">
</head>
<body>
	<div th:insert="base/navbar.html"></div>
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm col-">
			<div class="starter-template">
				<div
					class="jumbotron jumbotron-fluid col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 offset-3 float-md-center">
					<div class="container">
						<h1 class="title display-4">EatApp</h1>
						<p class="title lead">App for restaurants!!</p>
					</div>
				</div>
				<div th:unless="${session.email}" class="loginForm box" th:insert="loginForm.html"></div>
				<p>¿No estás registrado?</p>
				<a href="/register" class="btn btn-info" role="button">Registrarse</a>
				<!-- TODO <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>-->
			</div>
		</main>
	</div>
	<footer th:insert="base/footer.html"> </footer>
</body>
</html>