<html lang="es">
<head>
{{>base/head}}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600'
	rel='stylesheet' type='text/css'>
</head>

<body>
	{{>base/navbar}}
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm">
			<div class="starter-template">
				<div class="jumbotron jumbotron-fluid col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
					<div class="container">
						<h1 class="title display-4">EatApp</h1>
						<p class="title lead">App for restaurants!!</p>
					</div>
				</div>
				<div class="loginForm">
					<form method="post" action="login">
						<div class="box">
							<h1>Bienvenido</h1>
							<input type="email" name="email" placeholder="Email"
								onFocus="field_focus(this, 'email');"
								onblur="field_blur(this, 'email');" class="email" /> <input
								type="password" name="password" placeholder="password"
								onFocus="field_focus(this, 'email');"
								onblur="field_blur(this, 'email');" class="password" />
							<button class="btn btn-success" type="submit">Entrar</button>
						</div>
						<!-- End Box -->
					</form>
					<p>¿No estás registrado?</p>
					<a href="#" class="btn btn-info" role="button">Registrar</a>
					<!-- TODO <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>-->
				</div>
			</div>
		</main>
	</div>
	{{>base/footer}}
</body>
</html>