<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="!${session.type} ? 'login' : 'registerEmployee'" method="post" >
	
		<input type="email" required="required" name="email"
			placeholder="Email" class="email" />
		<input th:type="${session.type} ? 'text' : 'password'"
			required="required" name="password" placeholder="password"
			class="password" />
		<input th:if="${session.type}" type="text" required="required" name="password2"
		    placeholder="repeat password" class="password"/>
		<div>
			<span th:if="${session.type}">Tipo de usuario</span>
			<select class="email" th:if="${session.type}" name="userType">
				<option value=0>Admin</option>
				<option value=2>Camarero</option>
				<option value=3>Cocinero</option>
			</select>
		</div>
		<div th:if="${error}" class="alert alert-danger" role="alert">
			<p th:text="${error}"></p>
		</div>
		<div>
			<button class="btn btn-success" type="submit">
				<span th:if="${session.type}">Registrar</span>
				<span th:if="!${session.type}">Entrar</span>
			</button>
		</div>
		<!-- End Box -->
	</form>
</body>
</html>