<html lang="es">
<head>
{{>base/head}}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600'
	rel='stylesheet' type='text/css'>
</head>

<body>
	{{>base/navbar}}
	<div class="page">
		<main role="main" class="main container">
			<div class="starter-template">
				{{#userTypeCommensal}}
					{{>./mainCommensalView}}
				{{/userTypeCommensal}}
				{{#userTypeCook}}
					{{>./mainCookView}}
				{{/userTypeCook}}
				{{#userTypeWaiter}}
					{{>./mainWaiterView}}
				{{/userTypeWaiter}}
				{{#userTypeAdmin}}
					{{>./mainAdminView}}
				{{/userTypeAdmin}}
			</div>
		</main>
	</div>
	{{>base/footer}}
	<script src="js/login.js"></script>
</body>
</html>