<html lang="es">
<head>
{{>base/head}}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600'
	rel='stylesheet' type='text/css'>
</head>

<body>
	{{>base/navbar}}
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm">
			<div class="starter-template">
				{{#COMMENSAL}}
					{{>./mainCommensalView}}
				{{/COMMENSAL}}
				{{#COOK}}
					{{>./mainCookView}}
				{{/COOK}}
				{{#WAITER}}
					{{>./mainWaiterView}}
				{{/WAITER}}
				{{#ADMIN}}
					{{>./mainAdminView}}
				{{/ADMIN}}
			</div>
		</main>
	</div>
	{{>base/footer}}
</body>
</html>