<h2 class="intro">¿Qué puedes hacer en EatApp?</h2>
<div class="row">
	<a href="/register"
		class="btn column mainOptions col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
		role="button">
		<p>Registrar un trabajador</p>
	</a>
	<a href="/removeEmployee"
		class="btn column mainOptions col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
		role="button">
		<p>Eliminar un trabajador</p>
	</a>
	<a href="/logout"
		class="btn column mainOptions col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
		role="button">
		<p>Cerrar sesión</p>
	</a>
</div>