<html lang="es">
<head>
<head th:insert="base/head">
</head>

<body>
	<div th:insert="base/navbar.html"></div>
	<div class="page">
	<h1>
	Hola <span th:text="${session.email}"></span>
	</h1>
<hr>
<h2 class="intro">¿Que puedes hacer en EatApp?</h2>
		<div class="row col-xl-11 offset-xl-1 col-lg-11 offset-lg-1">
			<h3>Ingredientes</h3>
			<table  th:if="${ingredients}" id="notif" class="table table-striped display">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Cantidad minima actual</th>
						<th>Nueva cantidad minima </th>
						<th/>
					</tr>
				</thead>
				<tr th:each="ingredient: ${ingredients}">
					<form action="manageQuantityOfIngredient" method="post">
						<td><input disabled="disabled" type="text" name="ingredientId" th:value="${ingredient.id}"/></td>
						<td th:text="${ingredient.name}" />
						<td th:text="${ingredient.minimumAmount}">
						<td><input type="number" step="0.01" name="newAmount" min="1"
							max="50" th:value="${ingredient.minimumAmount}"/></td>
						<td><input type="submit" value="confirmar"/></td>
					</form>
				</tr>
			</table>
</div>
	</div>
	<footer th:insert="base/footer.html"> </footer>
	<footer th:insert="base/dataTables.html"> </footer>
</body>
</html>



