<html lang="es">
<head th:insert="base/head">
</head>
<body>
	<div th:insert="base/navbar.html"></div>
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm col-">
			<div class="starter-template">
				<div>
					<h2 class="intro">Registrar nuevo empleado</h2>
					<div class="loginForm box" th:insert="loginForm.html"></div>
				</div>
			</div>
		</main>
	</div>
	<footer th:insert="base/footer.html"> </footer>
	<footer th:insert="base/dataTables.html"> </footer>
</body>
</html>