<html lang="es">
<head th:insert="base/head">
</head>
<body>
	<div th:insert="base/navbar.html"></div>
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm">
			<div class="starter-template">
				<div>
					<h2 class="intro">Eliminar empleado</h2>
					<div th:if="${not #lists.isEmpty(employees)}">
						<form method="post" th:action="removeEmployee" >
						<div>
								<select class="alert" name="userToRemove">
									<option th:each="employee: ${employees}" th:value="${employee.email}">
										<span th:text="${employee.email}"/>
									</option>
								</select>
							</div>
							<div>
								<button class="btn btn-danger" type="submit">Eliminar</button>
							</div>
						</form>
					</div>
					<div th:if="${#lists.isEmpty(employees)}">
						<h1>No hay ningún empleado!</h1>
					</div>
				</div>
			</div>
		</main>
	</div>
	<footer th:insert="base/footer.html"> </footer>
</body>
</html>