<html lang="es">
<head>
<head th:insert="base/head">
</head>
</head>

<body>
	<div th:insert="base/navbar.html"></div>
	<div class="page">
		<main role="main" class="main container col-xl col-lg col-md col-sm">
			<div class="starter-template">
				<div th:if="${not #lists.isEmpty(ingredients)}">
					<h2 class="intro">Estos son los ingredientes que hay que comprar!</h2>
					<table id="dataTable" class="table table-striped display">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Descripción</th>
								<th>Quedan</th>
								<th>Cantidad minima</th>
							</tr>
						</thead>
						<tr th:each="ingredient: ${ingredients}">
							<td th:text="${ingredient.id}" /></td>
							<td th:text="${ingredient.name}"></td>
							<td th:text="${ingredient.description}"></td>
							<td th:text="${ingredient.amount}"></td>
							<td th:text="${ingredient.minimumAmount}"></td>
						</tr>
					</table>
				<div th:if="${#lists.isEmpty(ingredients)}">
					<h2 class="intro">Hay suficiente cantidad de todos los ingredientes</h2>
				</div>
			</div>
		</main>
	</div>
	<footer th:insert="base/footer.html"> </footer>
	<footer th:insert="base/dataTables.html"> </footer>
</body>
</html>