<ul class="navbar-nav mr-auto">
	<li class="nav-item active"><a class="nav-link" href="#">Métodos de pago</a></li>
	<li class="nav-item active"><a class="nav-link" href="/reviewExperience">Dejar una opinión</a></li>
	<li class="nav-item active"><a class="nav-link" href="/askForHelp">Ayuda</a></li>
	<li class="nav-item active"><a class="nav-link" href="/createOrder">Gestionar pedido</a></li>
	<li class="nav-item active"><a class="nav-link" href="reviewExperience">Dejar una opinión</a></li>

</ul>