<ul class="navbar-nav mr-auto">
	<li class="nav-item active"><a class="nav-link" href="#">Gestionar producto</a></li>
	<li class="nav-item active"><a class="nav-link" href="/registerInTable">Gestionar menú</a></li>
	<li class="nav-item active"><a class="nav-link" href="#">Gestionar ingredientes</a></li>
	<li class="nav-item active"><a class="nav-link" href="/manageQuantityOfIngredient">Ver cantidad mínima de ingredientes</a></li>
	<li class="nav-item active"><a class="nav-link" href="/showIngredientsAmount">Ver cantidad de ingredientes</a></li>
</ul>